{% extends '::layout/layout.html.twig' %}

{% block body %}
	<div class="bandeau-top page-content" style="background-image: url(/bundles/projectpresentation/images/bandeau/visuel-bandeau-top.jpg?v1_0_0);background-color: #407491;">    
		<div class="bandeau-text">
			<div class="top-content">
				<p>Votre métier se transforme<br>
				<b>Devenez acteur de votre mobilité professionnelle</b></p>
				<p class="register-link"><a href="http://alternativespro.fr/inscription" class="round-btn focus-btn">Inscrivez-vous</a></p>        
			</div>
		</div>       
	</div>   

	<main role="main" class="main">
		<div class="content-wrap">
			<section class="project">
				<h2>Avançons ensemble sur votre projet professionnel</h2>

				<ul class="steps">
					<li class="step-parcours">Faire le point<br>sur votre parcours</li>
					<li class="step-plan">Définir le<br>plan d’action</li>
					<li class="step-transition">Réussir votre transition<br>professionnelle</li>
				</ul>
			</section>   
		</div>

		<section class="testimony">
			<div class="content-wrap">
				<h2>Les témoignages</h2>

				<ul class="home-testimony-list">
					<li class="home-item">
						<figure class="home-testimony-visuel"><img src="images/101.jpg" alt="P."></figure>     	
						<div class="home-item-content">
							<blockquote>Après le bac j’ai obtenu un BTS orienté vente et négociation. Je voulais rapidement travailler et gagner ma vie. J’ai trouvé une mission dans un labor</blockquote>
							<p class="author">Carole P.</p>
						</div>
					</li>
					<li class="home-item">
						<figure class="home-testimony-visuel"><img src="images/171.jpg" alt="R."></figure>     	
						<div class="home-item-content">
							<blockquote>Après une licence scientifique générale, je voulais intégrer la vie professionnelle. J’ai pensé que la visite médicale me conviendrait et pendant quel</blockquote>
							<p class="author">Vincent R.</p>
						</div>
					</li>
				</ul>

				<p class="block-action"><a href="http://alternativespro.fr/temoignages" class="border-btn round-btn light-btn">Autres témoignages</a></p>
			</div>
		</section>
		

		<section class="contact">
			<div class="content-wrap">
				<h2>Poser votre question</h2>
				<form action="/emailing" method="post">
					<div class="interactive-label">
						<label for="project_appli_emailing_email" class="required">Votre email</label>
						<input id="project_appli_emailing_email" name="project_appli_emailing[email]" required="required" class="form-control hide-label" type="text">                
					</div>
					<div class="interactive-label">
						<label for="project_appli_emailing_object" class="required">Objet</label>
						<textarea id="project_appli_emailing_object" name="project_appli_emailing[object]" required="required" class="form-control hide-label"></textarea>                
					</div>
					<p class="action"><input id="submit" name="submit" value="Envoyer" class="round-btn" type="submit"></p>
					<input id="project_appli_emailing__token" name="project_appli_emailing[_token]" value="zcMN75WdMz7AJkLeqRNKhGMvY1msgeGFg7XAXO5L1qo" type="hidden">
				</form>
			</div>
		</section>               
	</main> 
{% endblock %}